
<!-- Footer -->
<footer id="sticky-footer" class="footer position-sticky py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; 2019 - Your company</small>
    </div>
</footer>