    <nav class="navbar navbar-light bg-light shadow-sm mb-1">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">
            <img src="~/Images/sagicorlogo.gif" width="90" height="50" class="d-inline-block align-top" alt="sagicor icon">
        </a>
    </nav>
