
@{
    ViewData["Title"] = "_TermsAndConditions";
}

<!-- Modal -->
<div class="modal fade" id="terms-and-conditions-modal" tabindex="-1" role="dialog" aria-labelledby="terms-and-conditions-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Terms & Conditions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Introduction
                Before you sign up and download or use downloadable product from ThemeHunt for your own purposes, please make sure you have read, understood, and agreed to all the terms. By accessing or using ThemeHunt, we assume you’ve accepted the terms of use given below. These Terms apply to all visitors, users and others who wish to access or use the Service. If you disagree with any part of the terms then you do not have permission to access the platform.

                Communications
                By creating an account on our service, you agree to subscribe to our newsletter, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by using the unsubscribe link or instructions provided in any email we send.

                Accounts
                When you create an account with us, you guarantee that you are above the age of 18, and that the information you provide us is accurate, complete, and current at all times. Inaccurate, incomplete, or obsolete information may result in the immediate termination of your account on the platform.

                You are responsible for maintaining the confidentiality of your account and password, including but not limited to the restriction of access to your computer and/or account. You agree to accept responsibility for any and all activities or actions that occur under your account and/or password, whether your password is with our Service or a third-party service. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.

                You may not use as a username the name of another person or entity or that is not lawfully available for use, a name or trademark that is subject to any rights of another person or entity other than you, without appropriate authorization. You may not use as a username any name that is offensive, vulgar or obscene.

                We reserve the right to refuse service, terminate accounts, remove or edit content, or cancel orders in our sole discretion.
                Product Compatibility/Updates
                All the ThemeHunt items should be designed to be compatible with the latest available technology, but we cannot guarantee about the older items. We check all themes/templates before final publishing but we cannot give you full warranty of their proper work.
                Modifications
                Users are allowed to modify any of the published items on ThemeHunt according to their requirements. However, please note that before you modify, check the induced documentation (if available) and ask on the respective support forum if there is an easier and better way to achieve what you want to do. For license related information, please check our License Policy.

                Unauthorized/Illegal Usage
                You may not use the items on ThemeHunt for any illegal or unauthorized purpose nor may you, in the use of the platform, violate any laws in your jurisdiction (including but not limited to copyright laws) as well as the laws of European Union and International law. In particular, it is prohibited to use the items on our platform for pages that promote: violence, terrorism, hard pornography, racism, vulgarity content or warez software links.

                You cannot to reproduce, duplicate, copy, sell, resell or exploit any portion of the ThemeHunt, use of the offered on ThemeHunt items, or access to the service without the express written permission by ThemeHunt or product owner.

                ThemeHunt Members are responsible for all content posted on the forum and activity that occurs under your account.

                We reserve the possibility of blocking your membership account immediately if we will know about such a not permitted behavior.

                If you create an account on the ThemeHunt website, you are responsible for maintaining the security of your account, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the account. You must immediately notify ThemeHunt of any unauthorized uses of your account or any other breaches of security.
                Support
                Once you have downloaded a product, you may contact for support with the author of that product via their support channel or using a commenting system. We don't provide any support for the items submitted by the third-party authors.
                Ownership
                You may not claim intellectual or exclusive ownership to any of the items offered on ThemeHunt, modified or unmodified. Products are property of the respective template/theme developers. Their products are provided “as is” without warranty of any kind, either expressed or implied. In no event shall our juridical person be liable for any damages including, but not limited to, direct, indirect, special, incidental or consequential damages or other losses arising out of the use of or inability to use their products.
                Intellectual Property
                The Service and its original content (excluding Content provided by sellers), features and functionality are and will remain the exclusive property of ThemeHunt and its licensors. The Service is protected by copyright, trademark, and other law rules. Our trademarks and trade dress may not be used in connection with any product or service without the prior written consent of ThemeHunt.
                Links To Other Websites
                Our Service may contain links to third party web sites or services that are not owned or controlled by ThemeHunt. ThemeHunt has also no control over, and assumes no responsibility for the content, privacy policies, or practices of any third party web sites or services. We do not warrant the offerings of any of these entities/individuals or their websites.

                Termination
                We may terminate or suspend your account and bar access to the Service immediately, without prior notice or liability, under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a breach of the Terms.

                If you wish to terminate your account, you may simply discontinue using the Service.

                All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
                Disclaimer
                Your use of the Service is at your sole risk. The Service is provided on an “AS IS” and “AS AVAILABLE” basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.

                ThemeHunt its subsidiaries, affiliates, and its licensors do not warrant that:

                The Service will function uninterrupted, secure or available at any particular time or location;
                Any errors or defects will be corrected;
                The Service is free of viruses or other harmful components;
                Or the results of using the Service/Products will meet your requirements.
                Exclusions
                Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability for consequential or incidental damages, so the limitations above may not apply to you.

                We reserve the right to change and modify terms and conditions at any time without any prior notice. By continuing to access or use our Service after any revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you are no longer authorized to use the Service.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Decline</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="accept-terms-cond">Accept</button>
            </div>
        </div>
    </div>
</div>

